<h1>사진 등록 하기</h1>
<h2>참가자 정보</h2>
<h2>사진 등록</h2>
<h4>최대 3개까지의 작품 등록이 가능합니다<h4>
<form action="/photo/register_process" method="POST">
  제목 : <input type="text" name="title" ><br>
  장소 : <input type="text" name="where" ><br>
  시간 : <input type="text" name="when"><br>
  상세설명 : <textarea name="description" rows="5"></textarea><br>
  사진업로드 : <input type="file" name="photo"><br>
  <input type="submit" value="Save">
</form>
<h2>등록한 사진들<h2>

